- error_log = logs.first 
- row_div_id = "error_log_row_#{error_log.id}" 

%tr{:class => cycle('odd','even'), :id => row_div_id}
  %td 
    %div{:class => "level_box level_#{error_log.level}"}
      = error_log.level
    %span.time
      = error_log.created_at       
    %br 
    %br
    [#{error_log.category}]
    %b= error_log.error
    %br 
    %br

    -# Repeated N times
    - if logs.count > 1
      %div{:style => "text-align: center"}
        Repeated 
        %b
          %span{:style => "font-size: #{[12 + logs.count,100].min}px;"}
            = logs.count
        times.
        %br

    -# error params if logged     
    - if error_log.params && !error_log.params.empty? 
      %br
      example params:
      %pre
        = error_log.params.pretty_inspect 

    -# backtrace
    - bt = error_log.backtrace.split("\n") 
    %div.backtrace 
      = raw bt[0...3].join(" <br />") 
      - if bt.size > 4 
        - bid = "error_log_bt_#{error_log.id}" 
        = link_to_function '...', "$('#{bid}').show();" 
        %span{:style => "display: none", :id => bid}
          = raw bt[4...-1].join(" <br />")                  
    %span.actions
      - if viewing_archive? 
        = link_to('delete premamently', { :action => :delete, :error_hash => error_log.error_hash, :row_div_id => row_div_id }, :remote => true, :onclick => "this.innerHTML = 'wait for it...';")
      - else
        = link_to('mark as read', { :action => :set_viewed, :error_hash => error_log.error_hash, :row_div_id => row_div_id }, :remote => true, :onclick => "this.innerHTML = 'wait for it...';")
