
<%# I'm sorry but view ain't beautiful quite yet. It will probably be totally rewritten %>
<%# This view will be rendered inside your layout %>


<%= render :partial => '/styles' %>
<h1>Error logs</h1>

<div align="right">
   <%= button_to "Mark all as read", :action => 'set_all_viewed' %>
</div>
<br />

<!-- Hell I love table layouts -->
<table style="width: 100%" cellpadding="10">
   <tr><td valign="top">
     <ul>
           <li>
             <%= link_to_if @errors_category, 'all', :action => :index %> (<%= @category_counts.values.sum %>)
           </li>
        <% @category_counts.each_pair do |category,count| %>
           <li>
             <%= link_to_if (@errors_category != category), category, :action => :index, :errors_category => category %>&nbsp;(<%= count %>)
           </li>
        <% end %>
     </ul>
   </td><td>
      <table id="error_logs">
         <% @error_logs.each_pair do |hash,logs| %>
            <%= render :partial => '/error_log', :locals => {:logs => logs} %>
         <% end %>
      </table>
   </td></tr>
</table>
