= render :partial => '/styles'
%h1 Error logs #{viewing_archive? ? '[archive]' : ''}

- form_tag({},:method => :get) do
  sort by: 
  = select_tag(:sort_by, options_for_select([['last error','last'],
    ['first error','first'],
    ['errors count','count'],
    ['level','level'],
    ['level then count','level_count']],
    session[:erlgs_sort_by]), :onchange => 'this.form.submit();' )

%div{:style => 'text-align: right'}
  - if viewing_archive?  
    = button_to "Delete all archived", :action => 'delete_all_archived' 
  - else
    = button_to "Mark all as read", :action => 'set_all_viewed' 
%br

-# Hell I love table layouts 
%table#error_logs_wrap
  %tr
    %td{:valign=>"top"}
      %b Categories:
      %ul
        %li
          = link_to_if @errors_category, 'all', :action => :index 
          (#{@category_counts.values.sum})
        - @category_counts.each_pair do |category,count| 
          %li
            #{link_to_if (@errors_category != category), category, :action => :index, :category => category}&nbsp;(#{count})
      %br 
      %br 
      %br 
      - if viewing_archive? 
        = link_to 'view current', :archive => '0'
      - else
        = link_to 'view archive', :archive => '1'
    %td 
      %table#error_logs
        - @error_logs.each do |error_log| 
          = render :partial => '/error_log', :locals => {:error_log => error_log} 
